@font-face {
    font-family: "Christmas Comeback";
    src: url("/fonts/christmas-comeback.otf") format("opentype");
}

@font-face {
    font-family: "Deer Snow";
    src: url("/fonts/deer-snow.ttf") format("truetype");
}

@font-face {
    font-family: "Magic Christmas";
    src: url("/fonts/magic-christmas.otf") format("opentype");
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/lato.ttf") format("truetype");
}

@font-face {
    font-family: "Lato Light";
    src: url("/fonts/lato-light.ttf") format("truetype");
}
